# --------------Defined by me personally-----------------------
# Ignore these directories
/.vs/
/bin/
/bin-int/

# Ignore these files
*.sln
*.vcxproj
*.filters
*.user

# Do not ignore the vendor directory
!/vendor/
!/vendor/bin/
!/vendor/bin/**
# -------------------------------------------------------------